<header>
  <h1>
    <a href="/" class="title"><%=title%></a>
    <a
      href="new-entry"
      class="btn btn-primary pull-right d-md-none d-none d-sm-none"
      >config file</a
    >
  </h1>
  <a href="/dicci" class="menu-item">Diccionario datos</a>
</header>
