<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link') %>
    <title><%=title%></title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <table
      class="table table-striped table-hover align-middle"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Categoria</th>
          <th scope="col">Diccionario</th>
          <th scope="col">Ejemplo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Presupuesto</td>
          <td>
            <a href="/ejecucion-presupuestal-ingresos"
              >1.Ejecución presupuestal de ingresos</a
            >
          </td>
          <td>
            <a
              href="/ejecucion-presupuestal-ingresos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-ingresos"
              >2. Relacion de Ingresos</a
            >
          </td>
          <td>
            <a href="/relacion-ingresos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Presupuesto</td>
          <td>
            <a href="/ejecucion-presupuestal-gastos"
              >3. Ejecución presupuestal de gastos</a
            >
          </td>
          <td>
            <a href="/relacion-gastos-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-cdps">4. Relacion de CDPs</a>
          </td>
          <td>
            <a href="/relacion-cdps-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-compromisos"
              >5. Relación de compromisos</a
            >
          </td>
          <td>
            <a href="/relacion-compromisos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Presupuesto</td>
          <td>
            <a href="/relacion-obligaciones"
              >6. Relación de obligaciones</a
            >
          </td>
          <td>
            <a href="/relacion-obligaciones-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Presupuesto</td>
          <td>
            <a href="relacion-pagos"
              >7. Relación de pagos</a
            >
          </td>
          <td>
            <a href="/relacion-pagos-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Contable y financiera</td>
          <td>
            <a href="/auxiliar-saldos"
              >8. Auxiliar con saldos</a
            >
          </td>
          <td>
            <a href=" /auxiliar-saldos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Contable y financiera</td>
          <td>
            <a href="/libro-mayor-balance"
              >9. Libro mayor y balance</a
            >
          </td>
          <td>
            <a href="/libro-mayor-ejemplo">Descargar</a>
          </td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Contable y financiera</td>
          <td>
            <a href="/estado-situacion-financiera"
              >10. Estado de situacion financiera</a
            >
          </td>
          <td>
            <a href="/estado-financiero-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Programas y Proyectos</td>
          <td>
            <a href="/programa-proyecto"
              >11. Programas y Proyectos</a
            >
          </td>
          <td>
            <a href="/programas-proyecto-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Contratación</td>
          <td>
            <a href="/contratacion">12. Contratación</a>
          </td>
          <td>
            <a href="/contratacion-ejemplo">Descargar</a>
          </td>
        </tr>

        <tr>
          <th scope="row">13</th>
          <td>Obras e Infraestructura</td>
          <td>
            <a href="/obras">13. Obras</a>
          </td>
          <td>
            <a href="/obras-ejemplo">Descargar</a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
