<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link') %>
    <title><%=title%></title>
  </head>
  <body>
    <%- include('./partials/header') %>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Categoria</th>
          <th scope="col">Diccionario</th>
          <th scope="col">Ejemplo</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Presupuesto</td>
          <td>
            <a href="/ejecucion-presupuestal-ingresos"
              >1.Ejecución presupuestal de ingresos</a
            >
          </td>
          <td>
            <a
              href="/ejecucion-presupuestal-ingresos-ejemplo"
              >Descargar</a
            >
          </td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Presupuesto</td>
          <td>2. Relacion de ingresos</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Presupuesto</td>
          <td>3. Ejecución presupuestal de gastos</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Presupuesto</td>
          <td>4. Relacion de CDPs</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Presupuesto</td>
          <td>5. Relación de compromisos</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Presupuesto</td>
          <td>6. Relación de obligaciones</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Presupuesto</td>
          <td>7. Relación de pagos</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Contable y financiera</td>
          <td>8. Auxiliar con saldos</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Contable y financiera</td>
          <td>9. Libro mayor y balance</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Contable y financiera</td>
          <td>10. Estado de situacion financiera</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">11</th>
          <td>Programas y Proyectos</td>
          <td>11. Programas y Proyectos</td>
          <td>Descargar</td>
        </tr>
        <tr>
          <th scope="row">12</th>
          <td>Contratación</td>
          <td>12. Contratación</td>
          <td>Descargar</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
