<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <%- include('./partials/link') %>
    <title><%=title%></title>
  </head>
  <body>
    <%- include('./partials/header') %>
    <table
      class="table table-striped table-hover align-middle"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Columna</th>
          <th scope="col">Descripción del campo</th>
          <th scope="col">Tipo Dato</th>
          <th scope="col">Esperado</th>
          <th scope="col">Observaciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Anio_reporte</th>
          <td>
            Año correspondiente a la información reportada
          </td>
          <td>Entero</td>
          <td>2018</td>
          <td>Sin separadadores de miles ni simbolos</td>
        </tr>

        <tr>
          <th scope="row">Vigencia</th>
          <td>
            Corresponde a vigencia: “Actual” => Presupuesto
            aprobado para el año de reporte “Reservas” =>
            Ejecucion de la reserva constituida a diciembre
            31 del año anterior al del reporte “CxP” =>
            Ejecucion de las cuentas por pagar constituida a
            diciembre 31 del año anterior al del reporte
          </td>
          <td>Cadena de texto</td>
          <td>Reservas</td>
          <td>
            "Los valores deben aparecer sin espacios y con
            las mismas caracteristicas de mayusculas y
            minusculas, sin comillas, los valores validos
            son: Actual Reservas CxP"
          </td>
        </tr>

        <tr>
          <th scope="row">NIT_Entidad_reportante</th>
          <td>
            Nit de la entidad que reporta información sin
            digito de verificacion
          </td>
          <td>Entero</td>
          <td>900800125</td>
          <td>
            Número entero sin simbolos, sin digito de
            verificación
          </td>
        </tr>

        <tr>
          <th scope="row">Nombre_Entidad_reportante</th>
          <td>Nombre de entidad reportante</td>
          <td>Cadena texto</td>
          <td>Municipio ABC</td>
          <td>Sin simbolos solo letras y espacioss</td>
        </tr>

        <tr>
          <th scope="row">Codigo_Presupuestal</th>
          <td>
            Corresponde para el año 2021 al codigo CCPET,
            para los años anteriores se utilizan los codigos
            de presupuesto libre
          </td>
          <td>Cadena texto</td>
          <td>2.1.3.14</td>
          <td>
            Separador (.), sin otros simbolos o caracteres
          </td>
        </tr>

        <tr>
          <th scope="row">Macro_campo_nivel_agregado</th>
          <td>
            Valor que define si el rubro informado
            corresponde a un rubro de detalle o de
            agregacion (suma de rubros) Sin simbolos solo
            letras A si es agregado (suma de rubros) o DA si
            es desagregado y es el ultimo nivel (no hay
            niveles inferiores).
          </td>
          <td>Cadena texto</td>
          <td>DA</td>
          <td>
            Sin simbolos solo letras A si es agregado (suma
            de rubros) o DA si es desagregado y es el ultimo
            nivel (no hay niveles inferiores).
          </td>
        </tr>

        <tr>
          <th scope="row">Nombre_Rubro</th>
          <td>Nombre asignado al rubro informado</td>
          <td>Cadena texto</td>
          <td>Pago de nomina</td>
          <td>Sin simbolos, solo letras y espacios</td>
        </tr>

        <tr>
          <th scope="row">Presupuesto_Inicial</th>
          <td>La apropiación inicial aprobada</td>
          <td>Decimal</td>
          <td>199988000,35</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>

        <tr>
          <th scope="row">Adiciones_del_periodo</th>
          <td>
            Valor correspondiente a las adiciones del
            periodo reportado
          </td>
          <td>Decimal</td>
          <td>215880314,88</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>

        <tr>
          <th scope="row">Adiciones_Acumuladas</th>
          <td>
            Valor correspondiente a las adiciones acumuladas
            al corte del periodo reportado
          </td>
          <td>Decimal</td>
          <td>199988001,35</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>

        <tr>
          <th scope="row">Reducciones_del_periodo</th>
          <td>
            Valor correspondiente a las reducciones del
            periodo reportado
          </td>
          <td>Decimal</td>
          <td>215880315,88</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Reducciones_Acumuladas</th>
          <td>
            Valor correspondiente a las reducciones
            acumuladas al corte del periodo reportado
          </td>
          <td>Decimal</td>
          <td>199988002,35</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Creditos</th>
          <td>
            Valor correspondiente a los traslados creditos
            del rubro en el periodo
          </td>
          <td>Decimal</td>
          <td>215880316,88</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Contra_creditos</th>
          <td>
            Valor correspondiente a los traslados contra
            credutos del rubro en el periodo
          </td>
          <td>Decimal</td>
          <td>215880317,88</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Apropiacion_definitiva</th>
          <td>
            Apropiacion definitva del rubro producto de
            todas sus modificaciones
          </td>
          <td>Decimal</td>
          <td>215880317,88</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Reconocimientos_del_periodo</th>
          <td>
            Valor correspondiente a los reconocimientos
            generados en el periodo de reporte
          </td>
          <td>Decimal</td>
          <td>199988004,35</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Reconocimientos_acumulados</th>
          <td>
            Valor correspondiente a los reconocimientos
            acumulados en el periodo de reporte
          </td>
          <td>Decimal</td>
          <td>215880318,88</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Recaudos_del_periodo</th>
          <td>
            Valor correspondiente a los recaudos y
            disminuciones a recaudos del periodo reportado
          </td>
          <td>Decimal</td>
          <td>199988005,35</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Recaudos_Acumulados</th>
          <td>
            Valor correspondiente a los recaudos y
            disminuciones a recaudos acumulados al corte del
            periodo reportado
          </td>
          <td>Decimal</td>
          <td>215880319,88</td>
          <td>
            Valores enteros en pesos mas centavos separados
            por comas, sin separador de miles, ni puntos u
            otros simbolos
          </td>
        </tr>
        <tr>
          <th scope="row">Porcentaje_Ejecucion</th>
          <td>
            (Recaudos acumulados / Apropiacion
            Definitiva)*100
          </td>
          <td>Decimal</td>
          <td>0,3</td>
          <td>Valores decimales entre 0 y 1</td>
        </tr>

        <tr>
          <th scope="row">Fecha_reporte</th>
          <td>Fecha en que se genera el informe</td>
          <td>Fecha</td>
          <td>2018-11-31</td>
          <td>
            (AAAA-MM-DD) Día de dos digitos, mes de dos
            digitos y año de cuatro digitos separados por -,
            sin digitos de hora o simbolos diferentes a -
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
